---
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MyImage from "../../components/MyImage.astro";
import { hygraphFetch } from "../../lib/hygraph";
import { BLOG_LIST_QUERY } from "../../lib/queries"; // Importera den centrala queryn

const data = await hygraphFetch(BLOG_LIST_QUERY);
const posts = data.blogPosts || [];
const settings = data.globalSettings?.[0] || {};
---

<BaseLayout
  globalSeo={settings.seo}
  fallbackTitle={`Blogg | ${settings.siteName}`}
  settings={settings}
>
  <main class="px-4 w-full antialiased">
    <div class="max-w-7xl mx-auto pt-4">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-10"
      >
        {
          posts.map((post: any) => (
            <article class=" flex flex-col">
              <a
                href={`/blog/${post.slug}`}
                class="block no-underline grow group "
              >
                <div
                  class="bg-[#F6F8F9] hover:scale-102 transition-transform duration-300 rounded-2xl h-full 
                flex flex-col "
                >
                  {/* Bild-container */}
                  <div class="mb-2 overflow-hidden rounded-t-2xl">
                    <MyImage
                      src={post.coverImage?.url || "/default-og-image.jpg"}
                      alt={post.title || "Poster bild"}
                      aspect="video"
                      class="w-full h-auto"
                    />
                  </div>

                  {/* Text-innehåll */}
                  <div class="flex flex-col px-4 pt-2 pb-4">
                    <div class="text-xs font-bold uppercase tracking-widest text-slate-500">
                      <FormattedDate date={new Date(post.publishedDate)} />
                    </div>

                    <h2 class="mt-1 text-xl leading-tight text-slate-900">
                      {post.title}
                    </h2>

                    {post.excerpt && (
                      <p class="mt-1 text-sm leading-relaxed text-slate-600 line-clamp-3">
                        {post.excerpt}
                      </p>
                    )}
                  </div>
                </div>
              </a>
            </article>
          ))
        }
      </div>
    </div>
    <div class="h-24"></div>
  </main>
</BaseLayout>
