---
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MyImage from "../../components/MyImage.astro";
import { hygraphFetch } from "../../lib/hygraph";

const BLOG_LIST_QUERY = /* GraphQL */ `
  query GetBlogData {
    blogPosts(orderBy: publishedDate_DESC) {
      title
      slug
      publishedDate
      excerpt
      coverImage {
        url
      }
    }
    globalSettings {
      siteName
      logo {
        url
        width
        height
      }

      navigation {
        ... on Navigation {
          label
          url
        }
      }
      seo {
        seoTitle
        seoDescription
        ogImage {
          url
        }
      }
    }
  }
`;

const data = await hygraphFetch(BLOG_LIST_QUERY);
const posts = data.blogPosts || [];
const settings = data.globalSettings?.[0] || {};
---

<BaseLayout
  globalSeo={settings.seo}
  fallbackTitle={`Blogg | ${settings.siteName}`}
  settings={settings}
>
  <main class="w-full bg-slate-50 antialiased">
    <div class="max-w-7xl mx-auto px-6 pb-8">
      <h1 class="text-3xl mb-8">Blogg</h1>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-16"
      >
        {
          posts.map((post: any) => (
            <article class="flex flex-col">
              <a href={`/blog/${post.slug}`} class="block no-underline grow">
                <div class="bg-white/90 border border-slate-100 p-6 rounded-3xl h-full flex flex-col shadow-lg shadow-gray-400 transition-all duration-300 hover:shadow-2xl hover:scale-[1.02]">
                  <div class="mb-6 overflow-hidden rounded-2xl">
                    <MyImage
                      src={post.coverImage?.url || "/placeholder.jpg"}
                      alt={post.title}
                      aspect="video"
                      class="w-full h-auto transition-all duration-300"
                    />
                  </div>

                  <div class="flex flex-col grow space-y-3 px-1">
                    <div class="text-xs font-bold uppercase tracking-widest text-slate-500">
                      <FormattedDate date={new Date(post.publishedDate)} />
                    </div>

                    <h2 class="text-xl leading-tight ">{post.title}</h2>

                    {post.excerpt && (
                      <p class=" text-sm leading-relaxed line-clamp-3">
                        {post.excerpt}
                      </p>
                    )}
                  </div>
                </div>
              </a>
            </article>
          ))
        }
      </div>
    </div>
    <div class="h-24"></div>
  </main>
</BaseLayout>
