---
// Hero.astro
import MyButton from "../MyButton.astro";

const { data } = Astro.props;

const heroTitle = data.heroTitel || "Välkommen";
const heroText = data.heroText || "Din beskrivande text här.";
const bgUrl = data.bgBild?.url;
const buttonLabel = data.buttonLabel;
const buttonUrl = data.buttonUrl;
const btnColor = data.btnColor || "#2563eb";
const btnTextColor = data.btnTextColor || "#ffffff";
---

<section class="pt-24 px-4 max-w-7xl mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <!-- Left text -->
    <div class="flex items-center">
      <div class="">
        {
          heroTitle && (
            <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 mb-4 leading-tight">
              {heroTitle}
            </h1>
          )
        }
        {
          heroText && (
            <p class="text-lg md:text-xl text-slate-900  mb-6 leading-snug">
              {heroText}
            </p>
          )
        }
        {
          buttonLabel && buttonUrl && (
            <MyButton
              titel={buttonLabel}
              link={buttonUrl}
              buttonDark={true}
              solid={true}
            />
          )
        }
      </div>
    </div>
    <div class="">
      <!--  Right image -->
      {
        bgUrl && (
          <img
            src={bgUrl}
            alt="Hero Background"
            class="w-full h-auto object-cover rounded-2xl"
          />
        )
      }
    </div>
  </div>
</section>
