---
// Hero.astro
import MyButton from "../MyButton.astro";
import MyImage from "../MyImage.astro"; // Importera din bildkomponent

const { data } = Astro.props;

const heroTitle = data.heroTitel || "Välkommen";
const heroText = data.heroText || "Din beskrivande text här.";
const buttonLabel = data.buttonLabel;
const buttonUrl = data.buttonUrl;

// Hämta hela bildobjektet
const heroImage = data.bgBild;
---

<section class="pb-12 px-4 max-w-7xl mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <div class="flex items-center">
      <div class="">
        {heroTitle && <h1 class="    mb-4 leading-wide">{heroTitle}</h1>}
        {heroText && <p class=" mb-6 ">{heroText}</p>}
        {
          buttonLabel && buttonUrl && (
            <MyButton
              titel={buttonLabel}
              link={buttonUrl}
              buttonDark={true}
              solid={true}
            />
          )
        }
      </div>
    </div>

    <div class="">
      {
        heroImage?.url && (
          <MyImage
            src={heroImage.url}
            alt={heroImage.altText || "Hero bild"}
            width={heroImage.width}
            height={heroImage.height}
            priority={true}
            class="rounded-2xl shadow-lg"
            aspect="auto"
          />
        )
      }
    </div>
  </div>
</section>
