---
import MyButton from "../MyButton.astro";

const { data } = Astro.props;
---

<section class="max-w-7xl mx-auto px-6 py-8">
    <div class="bg-white rounded-3xl shadow-xl border border-slate-300">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 md:p-8">
            {/* Vänster sida - bilden */}
            <div class="mb-4 text-center">
                {
                    (
                        <div class="break-inside-avoid group overflow-hidden rounded-2xl border border-slate-100 bg-slate-50 shadow-sm transition-all hover:shadow-xl">
                            <img
                                src={data.poster.url}
                                alt={data.title || "Gallery image"}
                                width={data.poster.width}
                                height={data.poster.height}
                                loading="lazy"
                                class="w-full h-auto object-contain transition-transform duration-700 group-hover:scale-105"
                            />
                        </div>
                    )
                }
            </div>
            <!-- Höger sida - texten -->
            <div class="mb-4 flex flex-col justify-center items-center">
                <div>
                    {
                        data.title && (
                            <h2 class="text-xl md:text-2xl font-black tracking-tight text-slate-900 mb-4 italic uppercase">
                                {data.title}
                            </h2>
                        )
                    }
                    {
                        data.beskrivning && (
                            <p class="text-slate-600 max-w-2xl mx-auto leading-relaxed text-lg">
                                {data.beskrivning}
                            </p>
                        )
                    }
                    <div class="mt-4">
                        {
                            data.buttonLabel && data.buttonLink && (
                                <MyButton
                                    label={data.buttonLabel}
                                    url={data.buttonLink}
                                />
                            )
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
