---
// src/components/sections/SectionVideoGrid.astro
import VideoCard from "../VideoCard.astro";
const { data } = Astro.props;
const videos = data?.videos || [];
---

<section class="max-w-7xl mx-auto pt-1 pb-12 px-4 md:px-8">
  <h1 class="text-3xl md:text-4xl font-semibold">{data.titleVideoGrid}</h1>
  <p class="mt-4 mb-2">{data.textVideoGrid}</p>
  <div class=`mt-8 grid grid-cols-1 lg:grid-cols-${data.numberOfColumns} gap-4`>
    {
      videos.map((v: any) => (
        <VideoCard
          videoUrl={v.videoUrl}
          title={v.title}
          description={v.description?.html}
          poster={v.thumbnail?.url}
        />
      ))
    }
  </div>
  {/* <--- Denna glöms ofta bort! */}
</section>
