---
// SectionVideo.astro
const { data } = Astro.props;
const { title, text, video, poster, videoUrlLink, videoUrlLabel } = data;
---

<section class="max-w-7xl mx-auto px-6 py-8">
  <div class="bg-white rounded-3xl shadow-xl border border-slate-300">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 md:p-8">
      {/* Videosidan - Nu med padding och egna hörn */}
      <div
        class="relative bg-slate-900 rounded-2xl overflow-hidden flex items-center justify-center pt-6"
      >
        {
          video?.url && (
            <video
              src={video.url}
              poster={poster?.url}
              controls
              playsinline
              preload="metadata"
              class="w-full h-full aspect-video object-contain"
            >
              Din webbläsare stödjer inte video.
            </video>
          )
        }
      </div>

      {/* Text-sidan */}
      <div class="p-4 md:p-8 flex flex-col justify-center">
        <h2
          class="text-xl md:text-2xl font-black tracking-tight text-slate-900 italic uppercase mb-6 leading-[0.9]"
        >
          {title}
        </h2>
        <div class="prose prose-slate prose-base">
          <p class="text-slate-600 leading-relaxed">
            {text}
          </p>
        </div>
        <div>
          <!-- Extern länk till videon, om sådan finns -->
          {
            videoUrlLink && videoUrlLabel && (
              <p class="mt-6 text-lg font-semibold">
                {videoUrlLabel}
              </p>
              <a
                href={videoUrlLink}
                target="_blank"
                rel="noopener noreferrer"
                class="block  text-base text-blue-600 hover:underline mb-4"
              >
                Titta på videon här
              </a>
            )
          }
        </div>
      </div>
    </div>
  </div>
</section>
