---
// SectionInfoCardGrid.astro
import MyButton from "../../components/MyButton.astro";
import MyImage from "../../components/MyImage.astro";
const { data } = Astro.props;
const { title, description, cards } = data;
---

<section class="pb-12 pt-4 lg:pt-12 shadow-lg bg-slate-100">
  <div class="max-w-7xl mx-auto px-4">
    <div class="mb-4">
      {title && <h2 class=""> {title}</h2>}

      {description && <p class="mt-4 max-w-2xl opacity-80"> {description}</p>}
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      {
        cards &&
          cards.map((card: any) => (
            <div class="group flex flex-col bg-white rounded-3xl p-6 shadow-xl transition-all hover:shadow-2xl ">
              {card.poster?.url && (
                <MyImage
                  src={card.poster.url}
                  alt={card.poster.altText || card.title}
                  width={card.poster.width}
                  height={card.poster.height}
                  class="mb-6 rounded-2xl"
                  aspect="video"
                />
              )}

              <h3 class="text-lg"> {card.title}</h3>

              <p class="grow text-sm opacity-90 mb-8">
                {/* Här behåller vi text-sm för att kort-text ofta ska vara lite kompaktare */}
                {card.text}
              </p>

              <div class="mt-auto">
                {card.buttonLabel && card.buttonLink && (
                  <MyButton
                    link={card.buttonLink}
                    titel={card.buttonLabel}
                    solid={true}
                    buttonDark={true}
                  />
                )}
              </div>
            </div>
          ))
      }
    </div>
  </div>
</section>
