---
import MyButton from "../../components/MyButton.astro";
import MyImage from "../../components/MyImage.astro";
const { data } = Astro.props;
const { title, description, cards } = data;
---

<section class="py-16 shadow-lg bg-linear-to-b from-[#5E51FF] to-[#9797FF]">
  <div class="max-w-7xl mx-auto px-4">
    <div class="mt-8 mb-12">
      {
        title && (
          <h2 class="text-5xl lg:text-5xl  tracking-wide text-slate-50 italic  mb-4 leading-none">
            {title}
          </h2>
        )
      }

      {
        description && (
          <p class="text-slate-50 text-lg tracking-wide max-w-2xl ">
            {description}
          </p>
        )
      }
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      {
        cards &&
          cards.map((card: any) => (
            <div class="group flex flex-col bg-white rounded-3xl border border-slate-300 p-8 shadow-sm transition-all hover:shadow-xl hover:-translate-y-1 hover:border-(--brand-primary)/20">
              {card.poster?.url && (
                <MyImage
                  src={card.poster.url}
                  alt={card.poster.altText || card.title}
                  width={card.poster.width}
                  height={card.poster.height}
                  class="mb-6 rounded-2xl"
                  aspect="video"
                />
              )}

              <h3 class="text-xl font-bold text-slate-900 mb-3 leading-tight group-hover:text-(--brand-primary) transition-colors">
                {card.title}
              </h3>

              <p class="text-slate-600 mb-8 leading-relaxed grow text-sm">
                {card.text}
              </p>

              <div class="mt-auto">
                {card.buttonLabel && card.buttonLink && (
                  <MyButton
                    link={card.buttonLink}
                    titel={card.buttonLabel}
                    solid={true}
                  />
                )}
              </div>
            </div>
          ))
      }
    </div>
  </div>
</section>
