---
import RenderSections from "../components/RenderSections.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { hygraphFetch } from "../lib/hygraph.js";
import { PAGE_QUERY } from "../lib/queries";

const data = await hygraphFetch(PAGE_QUERY, { slug: "kontakt" });
const page = data.page;
// Hämta settings från listan som vi nu får från PAGE_QUERY
const settings = data.globalSettings?.[0] || {};
---

<BaseLayout
  pageSeo={page?.seo}
  globalSeo={settings?.seo}
  fallbackTitle={page?.title}
  settings={settings}
>
  <div class="">
    {
      page ? (
        <RenderSections sections={page.sections} />
      ) : (
        <p>Laddar eller saknar innehåll...</p>
      )
    }
  </div>
</BaseLayout>
