---
import Prose from "./Prose.astro";

const today = new Date();

// Ta emot datan från BaseLayout
const { settings = {} } = Astro.props;

// Din befintliga logik för att förbereda texterna
const { siteName, footerText, contactInfo, navigation = [] } = settings;
const contactHtml = contactInfo?.html;
---

<footer class="w-full bg-slate-200 text-gray-600">
  <div class="max-w-7xl mx-auto px-6 pt-12 pb-8">
    <!-- Rad: Två kolumner med mindre text -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2 pt-2">
      {/* Vänster: Info */}
      <div class="text-center">
        <!-- <h2 class="text-sm text-slate-950 mb-1">
					{siteName}
				</h2> -->
        <p class="text-sm italic leading-relaxed max-w-sm mx-auto md:mx-0">
          {footerText}
        </p>
      </div>

      {/* Höger: Kontakt */}
      <div class="flex flex-col items-center md:items-end">
        <Prose>
          <div set:html={contactHtml} class="text-sm" />
        </Prose>
      </div>
    </div>
    <!-- Rad: Kompakt horisontell meny  -->
    <nav class="mt-8 flex flex-wrap justify-center gap-x-6 gap-y-2">
      {
        navigation.map((link: any) => (
          <a
            href={link.url}
            class="text-sm   tracking-wide  hover:text-slate-500"
          >
            {link.label}
          </a>
        ))
      }
    </nav>
    <!-- Rad: Centrerad Copyright  -->
    <div class="pt-4 text-center">
      <p class="text-sm tracking-wide">
        &copy; {today.getFullYear()}
        {siteName}
      </p>
    </div>
  </div>
</footer>
