---
import FormattedDate from "./FormattedDate.astro";
import MyButton from "./MyButton.astro";
import MyImage from "./MyImage.astro";

const { title, excerpt, slug, poster, date, bloggKategori } = Astro.props;
---

<article class="flex flex-col h-full">
  <div
    class="rounded-2xl h-full flex flex-col overflow-hidden transition-all duration-300 shadow-gray-300 shadow-lg"
  >
    {/* Länk på bilden */}
    <a href={`/blog/${slug}`} class="block overflow-hidden group">
      <div class="h-40 sm:h-28 overflow-hidden">
        <MyImage
          src={poster?.url || "/default-og-image.jpg"}
          alt={title || "Poster bild"}
          class="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-103"
        />
      </div>
    </a>

    {/* Text-innehåll */}
    <div class="flex flex-col px-4 pt-3 pb-4 grow">
      <div class="flex items-center justify-between">
        <div class="text-xs font-medium tracking-widest">
          <FormattedDate date={new Date(date)} />
        </div>

        {/* SEPARAT LÄNK FÖR KATEGORI */}
        {
          bloggKategori && (
            <a
              href={`/blogCategory/${bloggKategori.slug}`}
              class="text-xs  font-medium  tracking-widest  
              bg-[#DDE1FF] px-3 py-1 rounded-xl transition delay-100 duration-150 ease-in-out hover:-translate-y-0.5 hover:scale-103 hover:bg-blue-200"
            >
              {bloggKategori.displayName}
            </a>
          )
        }
      </div>

      {/* Länk på rubriken */}
      <p class="mt-2 text-base leading-tight font-medium">
        <a
          href={`/blog/${slug}`}
          aria-label={bloggKategori.displayName}
          class="hover:text-slate-600 transition-colors"
        >
          {title}
        </a>
      </p>

      {
        excerpt && (
          <p class="mt-2 text-sm leading-relaxed text-slate-600 line-clamp-3">
            {excerpt}
          </p>
        )
      }

      {/* LÄS MER KNAPP */}
      <div class="mt-auto pt-2">
        <a
          href={`/blog/${slug}`}
          target={"_self"}
          aria-label={`/blog/${slug}`}
          class:list={"flex text-sm py-2 px-3 w-fit rounded-lg justify-center border border-slate-400 transition delay-100 duration-150 ease-in-out hover:-translate-y-0.5 hover:scale-102"}
        >
          Läs mer
        </a>
      </div>
    </div>
  </div>
</article>
