---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { pageSeo, globalSeo, fallbackTitle, settings } = Astro.props;
---

<html lang="sv">
  <head>
    <BaseHead
      pageSeo={pageSeo}
      globalSeo={globalSeo}
      fallbackTitle={fallbackTitle}
    />
  </head>

  <body>
    <Header settings={settings} />

    <main class="pt-20 pb-12">
      <!-- Kompensera för sticky header, pt-20 -->
      <slot />
    </main>

    <Footer settings={settings} />
  </body>
</html>
