---
// BaseLayout.astro
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface HygraphImage {
  url: string;
  width?: number;
  height?: number;
}
interface Props {
  settings: {
    siteName?: string;
    siteFavicon?: HygraphImage; // Viktigt att namnet matchar API ID från Hygraph
    logo?: HygraphImage;
    navigation?: Array<{ label: string; url: string }>;
  };
  pageSeo?: any; // Eller använd samma struktur som ovan för mer säkerhet
  globalSeo?: any;
  fallbackTitle?: string;
}

const { pageSeo, globalSeo, fallbackTitle, settings } = Astro.props;
---

<html lang="sv">
  <head>
    <BaseHead
      pageSeo={pageSeo}
      globalSeo={globalSeo}
      fallbackTitle={fallbackTitle}
      favicon={settings.siteFavicon}
    />
  </head>

  <body>
    <Header settings={settings} />

    <main class="pt-20 pb-12">
      <!-- Kompensera för sticky header, pt-20 -->
      <slot />
    </main>

    <Footer settings={settings} />
  </body>
</html>
